* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.absolute {
  position: absolute;
  top: 10%;
  width: 70%;
}

.relative {
  position: relative;
}

.absolute-section-2 {
  top: 40%;
  position: absolute;
  width: 100%;
  height: calc(100% - 50%);
}

.absolute-section-2 > .textarea:first-child {
  display: none;
}

.prefix {
  margin-left: 10px;
}

h1 {
  position: absolute;
  top: 5px;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

label {
  margin-right: 10px;
  font-size: 16px;
  margin-left: 10px;
  position: absolute;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 25em;
  margin-block: 10px;
}

.top {
  top: -8px;
  left: -10px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 50px;
}

button:hover {
  background-color: #0a6cb5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Style de la balise label pour qu'elle ressemble à un bouton cliquable */
.switch label {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.textarea {
  margin: 10px;
  width: 50%;
  height: 100%;
  background: none;
  /* border: 1px solid #aeaeae3b; */
  border-radius: 10px;
}

code {
  height: 100%;
  /* border: 1px solid #e9e7e711; */
  border-radius: 10px;
  padding-inline: 10%;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
}

.btn-copy {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-copy:hover {
  background-color: #0069d9;
}

.btn-copy i {
  margin-right: 8px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #282c34;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toast.show {
  opacity: 1;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: #fff;
}

footer > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 640px) {
  input[type="text"] {
    width: 90%;
    margin-block: 0;
  }
  button {
    margin-left: 10px;
  }
  form {
    flex-direction: row;
  }
  .absolute-section-2 > .textarea:first-child {
    display: block;
  }
  .absolute-section-2 {
    top: 35%;
  }
  .top {
    top: -20px;
  }
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 90%;
    margin-block: 0;
  }
  form {
    flex-direction: row;
  }
  .absolute {
    top: 15%;
  }
  .absolute-section-2 > .textarea:first-child {
    display: block;
  }
  .absolute-section-2 {
    top: 35%;
  }
  .top {
    top: -20px;
  }
}

@media (min-width: 1024px) {
  input[type="text"] {
    width: auto;
    margin-block: 0;
  }
  form {
    flex-direction: row;
  }
  .absolute {
    top: 15%;
  }
  .absolute-section-2 > .textarea:first-child {
    display: block;
  }
  .absolute-section-2 {
    top: 35%;
  }
  .top {
    top: -20px;
  }
}

@media (min-width: 1280px) {
  input[type="text"] {
    width: 25em;
    margin-block: 0;
  }

  form {
    flex-direction: row;
  }
  .absolute {
    top: 15%;
  }
  .absolute-section-2 > .textarea:first-child {
    display: block;
  }
  .absolute-section-2 {
    top: 35%;
  }
  .top {
    top: -20px;
  }
}
